
body{
    background-color: darkblue;
    font-family: 'Pixelify Sans', cursive;
}
.display-1{
    color: blanchedalmond;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color:black ;
    --bs-popover-header-bg: lightblue;
    --bs-popover-header-color:--black;
   --bs-popover-body-padding-x: 20px;
   --bs-popover-body-padding-y: 50px;
  }

  .progress{
    height: 50px;
    margin-bottom: 10px;
  }

  .img-fluid.ppt {
    border-radius: 100%;
  }
  .img-fluid:hover {
    border-color: black;
    border: 15px solid black ;
    transform: scale(1.1);
    transition: transform 0.9s; 
  }