
body{
    background-color: darkblue;
    font-family: 'Pixelify Sans', cursive;
}
.display-1{
    color: blanchedalmond;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color:black ;
    --bs-popover-header-bg: lightblue;
    --bs-popover-header-color:--black;
   --bs-popover-body-padding-x: 20px;
   --bs-popover-body-padding-y: 50px;
  }